.section-servizi {
  padding-top: 120px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
}


.dx {
  width: 50%;
  margin: 0 20px 10px;
}

.dx h1 {
  margin-bottom: 20px;
}

.p-container {
  padding: 20px;
  color: white;
  background-color: #026568;
}

.p-description {
  font-size: 20px;
  line-height: 25px;
}

.p-container ul {
  list-style: none;
}

.p-container ul li {
  display: flex;
  align-items: start;
  margin: 0 0 10px 0;
}

.p-container ul li img {
  margin: 5px 0 0;
}

.p-container ul li p {
  font-size: 20px;
  margin: 0 7px 0;
  line-height: 25px;
}

.button-box {
  display: flex;
  justify-content: end;
}

.prenota {
  position: relative;
  bottom: -30px;
  width: 150px;
  height: 50px;
  border-radius: 15px;
  color: black;
  background-color: white;
  border: none;
  font-weight: 700;
  box-shadow: 2px 2px 8px black;
}

.prenota a {
  color: black;
  text-decoration: none;
}

.prenota:hover {
  background-color: rgb(204, 202, 202);
}


.p-box {
  display: flex;
  justify-content: center;
  margin: auto;
  margin: 20px;
}

.p {
  font-size: 22px;
  width: 67%;
  line-height: 25px;
  font-weight: 600;
}

@media (max-width: 576px) {
  .container {
    flex-direction: column;
  }

  .container img {
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .dx h1 {
    width: 90%;
    position: absolute;
    top: 150px;
    font-weight: 900;
    text-shadow: 2px 2px 5px white;
    z-index: 999;
    text-align: center;
  }

  .dx {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .p-container {
    position: relative;
    z-index: 999;
    top: -30px;
  }

  .p-description {
    font-size: 16px;
    text-align: center;
  }

  .p-container ul li p {
    font-size: 16px;
  }

  .check {
    width: 10px !important;
  }

  .p {
    font-size: 16px;
    text-align: center;
    width: 100%;
  }

  .button-box {
    justify-content: center;
  }
}