.main-box {
  position: relative;
  width: 100%;
  height: 100vh;
}

.img-box {
  background-image: url("/assets/img/foto-homepage.png");
    height: 100vh;
  background-position: center;
  background-size: cover;
}

div.hero {
  position: relative;
  width: 65%;
  margin: auto;
  color: white;
  top: 180px;
  z-index: 2;
}

div.hero h1 {
  font-weight: 900;
  font-size: 70px;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

div.hero h2 {
  font-weight: 500;
  font-size: 35px;
  margin-bottom: 40px;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}


div.hero p {
  width: 50%;
  font-size: 25px;
  margin-bottom: 50px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.701);
  line-height: 25px;
}

.contattaci {
  background-color: #026568;
  letter-spacing: 1px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  width: 170px;
  height: 45px;
  border-radius: 15px;
  border: none;
  box-shadow: #054748 2px 2px 5px;
}

.contattaci:hover {
  background-color: #2b969a;
}

.contattaci:active {
  background-color: #01383a;
}


.spazio {
  margin: 40px 0;
  color: transparent;
}

@media (max-width: 990px) and (min-width:577px) {

  div.hero h1 {
    font-size: 45px;
  }

  div.hero h2 {
    font-size: 25px;
  }

  div.hero p {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .img-box {
    position: relative;
    background-image: url("/assets/img/foto-mobile.png");
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
  }

  div.hero {
  top: 150px;
  z-index: 2;
}

  div.hero h1 {
    font-size: 40px;
  }

  div.hero h2 {
    font-size: 20px;
  }

  div.hero p {
    width: 100%;
    font-size: 16px;
  }
}