.chisiamo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #f5f5f5;
}

.chisiamo-container h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 40px;
}

.chisiamo-container h4 {
  margin-bottom: 25px;
}


/* card styles */
.card-list {
  list-style-type: none;
  padding: 0;
}


.card-list li {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}


.card {
  background-color: #026568;
  margin: 20px;
  position: relative;
  width: 400px;
  height: 350px;
  transform-style: preserve-3d;
  transition: transform 1s;
  cursor: pointer;
  box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border: none;
  color: white;
}

.card:hover {
  transform: rotateY(180deg);
}

.card-front {
  background-color: #026568;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  backface-visibility: hidden;
  z-index: 1;
  padding: 20px;
  border-radius: 10px;
}

.image-container {
  position: relative;
  width: 250px;
  height: 210px;
  aspect-ratio: 3 / 4;
  margin-bottom: 10px;
}

.card-img {
  object-fit: contain;
  border-radius: 0;
}

.nome {
  text-align: left;
  padding: 0 10px;
}

.nome h6 {
  font-weight: 200;
  margin: 0;
}

.card-title {
  width: 60%;
  font-size: 28px;
}

.card-back {
  width: 100%;
  height: 100%;
  background-color: #026568;
  transform: rotateY(180deg);
  border-radius: 10px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  white-space: pre-line;
  text-align: left;
}

/* testo */
.testo {
  display: flex;
  justify-content: center;

  text-align: center;
  margin-top: 40px;
  font-size: 25px;
  color: #333;
}

.testo p {
  width: 50%;
  line-height: 30px;
}

@media (max-width: 576px) {
  .chisiamo-container h1 {
    font-size: 28px;
    margin-bottom: 10px;
  }

  .chisiamo-container h4 {
    font-size: 16px;
    margin: 0 5px 10px 5px;
  }

  .card-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-list {
    width: 100%;
  }

  .card-list li {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card {
    width: 200px;
    height: 120px;
    margin: 5px;
  }

  .card-front {
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    gap: -10px;
  }

  .image-container {
    width: 100px;
    height: 100px;
    margin: 0;
  }

  .card-img {
    width: 25%;
    margin-bottom: 0;
  }

  .nome {
    width: fit-content;
    text-align: left;
    padding: 0 15px;
  }

  .nome h6 {
    font-size: 15px;
  }

  .nome h5 {
    font-size: 18px;
  }

  .card-title {
    font-size: 20px;
    width: 90%;
  }

  .card-back {
    align-items: center;
    font-size: 10px;
    padding: 10px;
    line-height: 15px;
  }

  .card-back p {
    margin: 0;
  }


  .testo {
    margin-top: 0;
    font-size: 14px;
  }

  .testo p {
    width: 90%;
    line-height: 25px;
    margin: 0;
  }
}