.footer {
  position:relative;
  bottom: 0;
  width: 100%;
}

.container-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.linea {
  margin: auto;
  background-color: #026568;
  width: 80%;
  font-weight: bold;
  height: 5px;
}


.container {
  width: 70%;
  height: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.menu-footer {
  width: 40%;
  margin-left: 20px;
  cursor: pointer;
}

.menu-footer p {
  font-weight: 600;
}

.menu-footer p:hover  {
  color: #026568;
}

.container-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container-logo p {
  font-size: 20px;
  font-weight: 900;
  margin: 0;
}

.box-logo {
  position: relative;
  width: 80px;
  aspect-ratio: 3 / 4;
}

.logo {
  height: auto;
}

.menu-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60%;
}

.menu-footer a {
  text-align: center;
  color: black;
  text-decoration: none;
  margin-left: 30px;
}

.menu-footer a p {
  margin-bottom: 0;
}

.container-icon {
  display: flex;
  justify-content: center;
}


.social-icons {
  width: 50px;
  margin-right: 15px;
  cursor: pointer;
}

.social-icons:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.icon {
  margin: 10px;
  width: 45px;
}

.copyrigth {
  margin-right: 20px;
}

.copyrigth p {
  width: 80%;
  font-size: 14px;
}

@media (max-width: 576px) {

  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "top top"
      "left right"
      "bottom bottom";
    gap: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .container-logo {
    grid-area: top;
  }

  .box-logo {
    width: 70px;
  }

  .menu-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: left;
  }
  
  .menu-footer a {
    width: 55%;
    text-align: left;
   font-size: 16px;
    margin: 0 0 10px 0;
  }

  .container-icon {
    grid-area: right;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    width: fit-content;
  }

  .icon {
    width: 40px;

  }

  .copyrigth {
    grid-area: bottom;
    margin: auto;
    text-align: center;
  }

  .copyrigth P {
    width: 100%;
  }
}