.contatti {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}

.contatti h1 {
  font-size: 36px;
  font-weight: 800;
}

/* contattaci */
.box-contattaci {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.box-con {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contatto-email, .contatto-telefono, .contatto-social {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 250px;
  height: 150px;
}

.contatto-email a, .contatto-telefono a {
  text-decoration: none;
  color: black;
}

.icon-contatti {
  width: 45px;
  margin: 10px;
}

.testo:hover {
  color: red;
}

.testo h5 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
}

.icon-contatti:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}


/* dove trovarci */
.dove-trovarci {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box-dove {
  margin-top: 30px;
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.indirizzo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 300px;
  height: 250px;
}

.testo-indirizzo h5{
  font-size: 18px;
  font-weight: 700;
}

.map-container {
  height: 250px;
  width: 350px;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
    width: 100%;
  height: 100%;
}

.map-frame {
  width: 100%;
  height: 400px; /* o 50vh su mobile */
}

@media (max-width: 768px) {
  .map-frame {
    height: 50vh;
  }
}


@media (max-width: 576px) {
  .contatti {
    position: relative;
    height: auto;
    padding-top: 140px;
  }

  .contatti h1 {
    font-size: 28px;
  }

  .contatto-email, .contatto-telefono {
    width: auto;
    flex-direction: row;  
  }

  .box-con {
    flex-direction: column;
  }

  .box-dove {
    flex-direction: column-reverse;
    width: 100%;
    margin-top: 0;
    margin-bottom: 20px;
  }
}